<!-- <nav class="navbar navbar-expand-lg navbar-dark navegation">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/inicio">Evalua</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse div" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/cursos">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listar">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rubricas">Rubricas</a>
          </li>
        </ul>
      </div>
  </div>
</nav> -->
<ul class="menu-list">
  <li><a id="cursos-link" href="/cursos">Cursos</a></li>
  <li><a id="alumnos-link" href="/listar">Alumnos</a></li>
  <li><a id="rubricas-link" href="/rubricas">Rubricas</a></li>
  <li><a id="cerrar-sesion-link" href="/inicio">Cerrar Sesión</a></li>
</ul>