<app-navigation></app-navigation>
<div style="margin-left: 15%; padding: 1px;">
  <div class="container p-4">
    <table class="table table-hover">
      <thead>
        <tr class="table">
          <th scope="col"></th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light" *ngFor="let alumno of alumnosCurso">
          <td style="width: 10%;">
            <button class="btn btn-lg btn-outline-warning" type="button" id="{{alumno.id}}"
              (click)="editAlumno($event)">
              <!-- <i class="bi bi-pen">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
                </i> -->Editar
            </button>
          </td>
          <td>{{alumno.Nombre}}</td>
          <!-- <td>{{alumno.Apellido1}}</td> -->
          <td>{{alumno.Apellidos}}</td>
        </tr>

      </tbody>
    </table>

    <button class="btn btn-lg btn-outline-info" type="button" (click)="createAlumno()">
      Añadir Alumno
      <i class="bi bi-plus-circle" style="margin-left: 1em;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
      </i>
    </button>

    <!-- <button class="btn btn-lg btn-outline-danger" type="button" (click)="createAlumno()" style="margin-left: 2em;">
      Eliminar Alumno
      <i class="bi bi-exclamation-triangle" style="margin-left: 1em;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
      </i>
    </button> -->

    <form class="createAlumno">
      <fieldset>
        <legend>Añade un Alumno</legend>

        <div class="form-group">
          <label for="NombreAlumno" class="form-label mt-4">* Nombre</label>
          <input type="text" class="form-control" [formControl]="nombre" id="NombreAlumno" aria-describedby="emailHelp"
            placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="ApellidosAlumno" class="form-label mt-4">Apellidos</label>
          <input type="text" class="form-control" [formControl]="apellidos" id="ApellidosAlumno"
            placeholder="Apellidos">
        </div>

        <div class="form-group">
          <label for="NombrePrimerFamiliar" class="form-label mt-4">Nombre Familiar 1</label>
          <input type="text" class="form-control" [formControl]="nombre_Familiar1" id="NombrePrimerFamiliar"
            placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="ApellidosPrimerFamiliar" class="form-label mt-4">Apellidos Familiar 1</label>
          <input type="text" class="form-control" [formControl]="apellidos_Familiar1" id="ApellidosPrimerFamiliar"
            placeholder="Apellidos">
        </div>

        <div class="form-group">
          <label for="NombreSegundoFamiliar" class="form-label mt-4">Nombre Familiar 2</label>
          <input type="text" class="form-control" [formControl]="nombre_Familiar2" id="NombreSegundoFamiliar"
            placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="ApellidosSegunddoFamiliar" class="form-label mt-4">Apellidos Familiar 2</label>
          <input type="text" class="form-control" [formControl]="apellidos_Familiar2" id="ApellidosSegundoFamiliar"
            placeholder="Apellidos">
        </div>

        <div class="form-group">
          <label for="Direccion" class="form-label mt-4">Direccion</label>
          <input type="text" class="form-control" [formControl]="direccion" id="Direccion" placeholder="Direccion">
        </div>

        <div class="form-group">
          <label for="Email" class="form-label mt-4">Email</label>
          <input type="email" class="form-control" [formControl]="email" id="Email" placeholder="Email">
        </div>

        <div class="form-group">
          <label for="Telefono" class="form-label mt-4">Telefono 1</label>
          <input type="text" class="form-control" [formControl]="telefono1" id="Telefono" placeholder="Telefono">
        </div>

        <div class="form-group">
          <label for="Telefono" class="form-label mt-4">Telefono 2</label>
          <input type="text" class="form-control" [formControl]="telefono2" id="Telefono" placeholder="Telefono">
        </div>

        <div class="form-group">
          <label for="Observaciones" class="form-label mt-4">Observaciones sobre el alumno</label>
          <textarea class="form-control" [formControl]="observaciones" id="Observaciones" rows="3"></textarea>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-lg formularioDotted buttonEnviar" style="display: none;" type="button"
            (click)="sendForm()">Enviar</button>
        </div>
        <div class="d-grid gap-2 buttonEnviar">
          <button class="btn btn-lg formularioDotted buttonGuardar" style="display: none;" type="button"
            (click)="sendFormEditar()">Guardar</button>
        </div>

      </fieldset>
    </form>
  </div>

  <div class="container">
    <div class="d-grid gap-2 asignatura">
      <button class="btn curso m-2" type="button" name="{{subject.id}}"
        *ngFor="let subject of subjects" (click)="califications($event)">{{subject.Nombre}}</button>
      <!-- <button class="btn btn-lg btn-primary m-4" style="width: 25%; height: 200px;" type="button"></button> -->
      <button class="btn cursoDotted m-4 createSubject" type="button"
        (click)="createAsignatura()">Añadir Asignatura &nbsp;&nbsp;<i class="bi bi-plus-circle"><svg
            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg></i></button>
    </div>
  </div>

  <div class="container p-4 createAsignatura">
    <form>
      <fieldset>
        <legend>Añade una Asignatura</legend>

        <div class="form-group">
          <label for="NombreAsignatura" class="form-label mt-4">* Nombre</label>
          <input type="text" class="form-control" [formControl]="nombreAsignatura" id="NombreAsignatura"
            aria-describedby="emailHelp" placeholder="Nombre">
        </div>

        <div class="form-check">
          <div>
            <input class="form-check-input checkTodos" type="checkbox" name="all" (change)="onChange($event)"
              id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <b>SELECCIONA TODOS</b>
            </label>
          </div>
          <div *ngFor="let alumno of alumnosCurso">
            <input class="form-check-input check" type="checkbox" name="{{alumno.Nombre}}" [value]="alumno.Apellidos"
              (change)="onChange($event)" [formControl]="alumnoElegido" id="flexCheckDefault" checked="">
            <label class="form-check-label labelCheck" for="flexCheckDefault">
              {{alumno.Nombre}} {{alumno.Apellidos}}
            </label>
          </div>

        </div>

        <div class="d-grid gap-2 my-3">
          <button class="btn btn-lg formularioDotted" type="button" (click)="sendFormAsignaturas()">Enviar</button>
        </div>

      </fieldset>
    </form>
  </div>

</div>