<script defer src="mis-cursos.component.js"></script>
<app-navigation></app-navigation>
<div class="containerPrincipal">
  <div class="titulo">
    <h2>Mis Cursos</h2>
  </div>
  <!-- <div class="container my-5">
    <fieldset>
      <legend>
        Bienvenido a Mis Cursos
      </legend>
    </fieldset>
  </div> -->

  <div class="container">
    <div class="d-grid gap-2 containerCursos">
      <button class="btn btn-lg curso" *ngFor="let curso of cursos" (click)="cursoSeleccionado(curso.Nombre)"
        style="width: 25%; height: 200px;" type="button">{{curso.Nombre}}</button>
      <button class="btn btn-lg cursoDotted m-4" style="width: 25%; height: 200px;" type="button" (click)="crearCurso()"><i
          class="bi bi-plus-circle"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg></i>
      </button>
    </div>
    <div class="formulario">
      <form>
        <fieldset>
          <legend>Nuevo curso</legend>
          <div class="form-group">
            <label for="curso" class="form-label mt-4">Nombre del curso</label>
            <input type="text" class="form-control" [formControl]="curso" id="curso" aria-describedby="emailHelp"
              placeholder="Introduce nombre con formato '2ºA'">
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-lg formularioDotted" type="button" (click)="sendForm()">Enviar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>


<router-outlet></router-outlet>